<h3>Available Doctor List </h3> 

<div class="container">
    <div class="mb-3">
        <label > <b> Select Doctor </b> </label>
        <select class="form-select" aria-label="Default select example" name="doctor" (change)="changeDoc()" [(ngModel)]="selecteddoctor">
            <option value="a" *ngFor="let doctor of doctors" [value]="doctor.docName">{{doctor.docName}}
            </option>
        </select>
    </div>

    <div>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Specialization</th>
                    <th scope="col">Total patients attended</th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td>{{selecteddoctor}}</td>
                    <td>{{selecteddoctorage}}</td>
                    <td>{{selecteddoctorspecialization}}</td>
                    <td>{{patients.length}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>